*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

.App {
  max-width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: lightblue;
  margin: 0 auto;
}

h2 {
  font-size: 2.5rem;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  width: 60vw;
  height: 50vh;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.userSide, .computerSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: aliceblue;
    width: 25vw;
    max-height: 70vh;
    position: relative;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.userChoices, .computerChoices {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.userScore, .computerScore {
    position: absolute;
    top: 0;
    left: 0;
    background-color:lightslategrey;
    width: 100%;
    display: flex;
    padding: 1rem 1.5rem;
    color: white;
    text-transform: uppercase;
    border-radius: 5px 5px 0 0;
}

svg {
    width: 2rem;
    height: 2rem;
}

.x {
    font-size: 4rem;
    font-weight: bold;
}

.actualChoice {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.actualChoice svg {
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonIcons {
    cursor:not-allowed;
}

.userWin p, .userLose p, .userDraw p, .computerWin p, .computerLose p, .computerDraw p {
    font-weight: bold;
    text-transform: uppercase;
    color:steelblue;
    padding: 0.75rem 0;
    text-align: center;
    font-size: 1.25rem;
}

.userLose p, .computerLose p {
    color: crimson;
}

.userDraw p, .computerDraw p {
    color: goldenrod;
}

.userWin button, .userLose button, .userDraw button, .computerWin button, .computerLose button, .computerDraw button {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color:steelblue;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-bottom: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

.userLose button, .computerLose button {
    background-color: crimson;
    color: white;
} 

.userDraw button, .computerDraw button {
    background-color: goldenrod;
}

.userPlacar, .computerPlacar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 0.5rem;
}
